<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!--head-->
    <header th:insert="blocks/header :: header"></header>

    <!--body-content-->
    <div class="content">
        <h1 th:text="'Страница &quot;' + ${title} + '&quot; работает'" />
        <img src="logo.png" alt="Тут должна быть картинка" width="100px" height="100px">
    </div>

    <section class="jumbotron text-center">
        <div class="container">

            <form th:action="@{/services}" method="post">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">(^_^)</span>
                        </div>
                        <input type="text" name="full_link" class="form-control" placeholder="Введите полную ссылку">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">(^_^)</span>
                        </div>
                        <input type="text" name="short_link" class="form-control" placeholder="Введите сокращение">
                    </div>
                </div>
                <p class="colorRed"><span th:text="${addLabel}"/></p>
                <button type="submit" class="btn btn-primary my-2">Сократить</button>
            </form>
            <hr>

            <h1>Все ссылки:</h1>
            <hr>

            <div th:each="link : ${shortLinks}">
                <div class="row">
                    <div class="width10">
                        <img src="link-icon.png" alt="Картинка-ссылка" width="50px">
                    </div>
                    <div class="width70">
                        <div class="col-md-6 mb-3">
                            <p class="lead alignLeft">&bull; Сокращенная ссылка:
                                <a target="_blank" th:href="${link.link}"><span th:text="'/' + ${link.short_link}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <hr>

        </div>
    </section>

    <!--footer-->
    <footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>