<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кабинет пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--header-->
    <header th:insert="blocks/header :: header"></header>

    <!--body-content-->
    <div class="content">
        <h1>Редактировать данные</h1>
    </div>
    <div class="container">
            <form th:action="@{/user/}" method="post">
                <input type="email" name="email" th:value="${email}" class="form-control"><br>
                <input type="password" name="password" placeholder="Введите новый пароль" class="form-control"><br>
                <select name="roles" class="form-control">
                    <option value="USER">Пользователь</option>
                    <option value="REDACTOR">Редактор</option>
                    <option value="ADMIN">Администратор</option>
                </select>
                <div class="content">
                    <input type="submit" value="Обновить данные" class="btn btn-success">
                </div>
            </form><br>
    </div>

    <!--footer-->
    <footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>